body, html{
	height:100%;
}

h1{
    font-family: Arial Narrow,Arial,sans-serif; 
}

h2{
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
    font-size: 2.5rem;
    font-weight: normal;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h3{
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
    font-size:1.3rem;
}

p{
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}

th{
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
	background-color: white;
}

td{
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
	color: #ffffff;
    vertical-align: middle !important;
}

hr{
	border-top: 1px solid #111111;
}

a{
    color: #ffffff;
}


.o-5{
    opacity: 0.5;
}

.o-7{
    opacity: 0.7;
}

.arrow{
    color: #000000; 
    font-size: 40px;
}

.carousel-caption{
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    color:#111111;
}


.banner {
	height: 35vh;
	min-height: 100px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/banner.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color:#999999;
}

.banner h1{
	color:#ffffff;
	font-weight:bold;
	font-size:4rem;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.banner p{
	color:white;
}

.navbar img{
    height: 2.5rem;
    width: 2.5rem;
    border: 1px solid #777777;
    border-radius: 150%;
    object-fit: cover;
}

.navbar i{
    font-size: 2rem;
}

.heading{
	padding-top:30px;
	padding-bottom:30px;
}

.figure-caption{
	color: #b0b0b0;
}


.content{
	background-color: rgba(0,0,0,0.55);
	color: #ffffff;
	width: 100%;
	padding: 20px; 
}

.content ul{
    list-style-position: inside;
}

.content2{
	background-color: #fdfdfd;
	color: #222222;
	width: 100%;
}

.content2 h2{
    color: #1765e3;
    border-bottom: 1px solid #222222;
    text-shadow: -1px -1px 0 #222, 1px -1px 0 #222, -1px 1px 0 #222, 1px 1px 0 #222;
    font-weight: normal;
}

.content3{
    background-color: #fdfdfd;
	width: 100%;
}


.card h2{
    font-size: 2rem;
}

.card p{
    color: #222222;
}

.card-img-top {
    width: 100%;
    height: auto;
    object-fit: fill;
}


.back-to-top {
    position: fixed;
    bottom: 8px;
    right: 25px;
    display: none;
}

.email{
	position: fixed;
    bottom: 13px;
    left: 25px;
    display: none;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
    color: #222222;
}

.about-me{
	background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)), url("../img/Demo.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	background-position: top;
    background-attachment:fixed;
}

.portfolio{
	background-image: linear-gradient(rgba(130, 130, 130, 0.5), rgba(0, 0, 0, 0.5)), url("../img/geometric-background.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	background-position: top;
    background-attachment:local;
}

.networking{
	background-image: linear-gradient(rgba(200, 200, 200, 0.5), rgba(0, 0, 0, 0.5)), url("../img/network-background.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	background-position: top;
    background-attachment:fixed;
}

.servers{
	background-image: linear-gradient(rgba(200, 200, 200, 0.5), rgba(0, 0, 0, 0.5)), url("../img/network-background1.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	background-position: top;
    background-attachment:fixed;
}

.website{
	background-image: linear-gradient(rgba(130, 130, 200, 0.5), rgba(0, 0, 0, 0.5)), url("../img/world-background.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	background-position: top;
    background-attachment:fixed;
}

.coding{
	background-image: linear-gradient(rgba(200, 200, 200, 0.5), rgba(0, 0, 0, 0.5)), url("../img/coding-background.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	background-position: top;
    background-attachment:fixed;
}

.techdoc{
	background-image: linear-gradient(rgba(200, 200, 200, 0.5), rgba(0, 0, 0, 0.5)), url("../img/Techdoc-background.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	background-position: top;
    background-attachment:fixed;
}

.resume{
	background-image: linear-gradient(rgba(100, 100, 100, 0.5), rgba(0, 0, 0, 0.5)), url("../img/drawing-background.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	background-position: top;
    background-attachment:local;
}

.contact{
	background-image: linear-gradient(rgba(200, 200, 200, 0.5), rgba(0, 0, 20, 0.5)), url("../img/notebook-background.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	background-position: top;
    background-attachment:local;
}

.contact ul{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family:"Book Antiqua", Palatino, Georgia, serif;
    font-size: 1.5rem;
    border-top: 2px solid #f0f0f0;
}

.contact ul li{
    border-bottom: 2px solid #f0f0f0;
    padding-left: 5px;
}

.contact a:hover{
    color:#8a8a8a;
    text-decoration: none;
}

#text{
    color: #222222;
}

.blue{
    color: #0645ad;
}